<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="imgartstation">
                <a href="https://www.artstation.com/artedjunior">
                    <img src="https://static.wixstatic.com/media/5ee227_f1b8b232624c49aebc2323a8b6511399.jpg/v1/fill/w_31,h_31,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_f1b8b232624c49aebc2323a8b6511399.jpg" alt="artstation">
                </a>
            </div>
            <div class="imginstagram">
                <a href="https://www.instagram.com/artedjunior/">
                    <img src="https://static.wixstatic.com/media/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_55e4be1e75564866b6c28290f9a9d271~mv2.png" alt="instagram">
                </a>
            </div>
            <div class="imglinkedin">
                <a href="https://www.linkedin.com/in/edmar-junior-26612975/">
                    <img src="https://static.wixstatic.com/media/48a2a42b19814efaa824450f23e8a253.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/48a2a42b19814efaa824450f23e8a253.png" alt="linkedin">
                </a>
            </div>    
        </div>
    </div>
</footer>