<header>
    <div class="header">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img class="img-logo" src="https://static.wixstatic.com/media/5ee227_b079d4006d904f14af82075d5ad09b22.png/v1/fill/w_67,h_60,al_c,lg_1,q_85,enc_auto/5ee227_b079d4006d904f14af82075d5ad09b22.png" alt="logo">
                </a>
            </div>
            <div class="logo-info">
                <h5 class="sentence-01">EDMAR JUNIOR</h5>
                <h3 class="sentence-02">2D/3D ARTIST</h3>
                <h4 class="sentence-03">PORTIFOLIO</h4>
            </div>
            <div class="head-text">
                <H4>
                    SOME PROJECTS AND COMPANIES I HAVE WORKED 
                </H4>
            </div>
        </div>
    </div>
</header>