<div class="perfilphoto">
    <img src="https://static.wixstatic.com/media/5ee227_695880c74c284df597be1fb708b5e6c7~mv2.jpg/v1/crop/x_29,y_0,w_649,h_707/fill/w_251,h_273,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/42617448_2168285139848138_9100542320150839296_n.jpg" alt="edmar">
</div>
<div class="text1">
    <h4>
        My name is Edmar Junior, I'm from Brazil Recife PE.
    </h4>
    <h4>
        I've been in the gaming industry for a long time,
        I worked with outsourcing on some well-known titles:
        The Elderscrolls onlineiMax,
        DC Universe Online,
        Sony - Star Wars Galaxies,
        Overwatch,
        Sniper Ghost Warrior Contracts and others,
    </h4>
    <h4>
        always looking for new challenges,
    </h4>
    <h4>
        I worked with 2D animation, illustration, among other functions, in the art world. My skills range from concept art, illustration, 3D/UV modeling, texturing etc... I'm a very versatile artist in general, I like to do different things. some time ago
    </h4>
    <h4>
        I created a studio to try to build my games and animations called Red balloons studios
    </h4>
    <img src="https://static.wixstatic.com/media/5ee227_90ecd1a45e7340e7a95b379fd53d341f~mv2.png/v1/fill/w_138,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/RedBalloonsStudioslogo3-300x78.png" alt="logoredbaloons">
    <h4>
        where I've been fighting with my skills firm and strong
        and a sales site where I put some 2d and 3d works
        artpackstore
    </h4>
    <img src="https://static.wixstatic.com/media/5ee227_aca942d833cc429abc69e3706a8633a1~mv2.png/v1/fill/w_138,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cropped-artpackstoreLogo-9-3%20(1).png" alt="artpackstore">
</div>
<div class="text2">
    <h3>SERVICES:</h3>
    <h4>Comic book colorist</h4>
    <h4>Concerpt art</h4>
    <h4>Illustration</h4>
    <h4>Modeling</h4>
    <h4>High-Res Hard</h4>
    <h4>surface/Organic</h4>
    <h4>UV Mapping</h4>
    <h4>Low-Res</h4>
    <h4>Texture-Painting</h4>
    <h3>SOFTWARES:</h3>
    <h4>3DMax</h4>
    <h4>Zbrush</h4>
    <h4>Xnormal</h4>
    <h4>Photoshop</h4>
    <h4>Unity</h4>
    <h4>Substance Painter</h4>
    <h4>Dragon Bones</h4>
    <h4>Blender</h4>
</div>
<div class="text3">
    <h4>
        if you like my work
        and you want my art in your project,
        do not hesitate to get in touch.
    </h4>
    <h4>
        email: artedjunior@gmail.com
    </h4>
</div>