<div class="line01 lines">
    <div class="areacenter">
        <div class="project01 projectbox">
            <a href="https://cyberskies.io/">
                <img src="https://static.wixstatic.com/media/5ee227_8dc487954c0940b7b7858874430ced73~mv2.jpg/v1/crop/x_0,y_3,w_200,h_195/fill/w_244,h_238,al_c,lg_1,q_80,enc_auto/1643285714653_jfif.jpg" alt="Cyberskies">
            </a>
            <div class="projecttext">
                <h3>CyberSkies</h3>
                <h4>
                    Amazing work at Cyberskies as art director and concept artist.
                </h4>
            </div>
        </div>
    </div>
    <div class="areacenter">
        <div class="project02 projectbox">
            <a href="https://www.youtube.com/c/TurmadoCueio/about">
                <img src="https://static.wixstatic.com/media/5ee227_3353bc2943eb41b7a97d8cdbcbd8b867~mv2.jpg/v1/crop/x_0,y_12,w_900,h_877/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/channels4_profile.jpg" alt="cueio">
            </a>
            <div class="projecttext">
                <h3>Turma do Cueio | GALÁXIA</h3>
                <h4>
                    I loved having participated in the animation crew of cueio as a Technical Artist/Generalist 3D along with great professionals from are.
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project03 projectbox">
            <a href="https://vimeo.com/329114911">
                <img src="https://static.wixstatic.com/media/5ee227_ce1a6a13c7f2411e8079c981407d1662~mv2.jpg/v1/crop/x_0,y_0,w_194,h_189/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/barba.jpg" alt="barbasdemolho">
            </a>
            <div class="projecttext">
                <h3>Barbas de Molho</h3>
                <h4>
                    I loved working on this wonderful short with amazing people. congratulations to the whole team!
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project04 projectbox">
            <a href="https://www.youtube.com/watch?v=_h0mrndA2fU">
                <img src="https://static.wixstatic.com/media/5ee227_996ebcfe7cab48b6b8686f409b3ccd91~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/847a9ee4fbf97388b5c53eacebaa708552452ad3.jpg" alt="superdrags">
            </a>
            <div class="projecttext">
                <h3>Visual development 2018</h3>
                <h4>
                    Visual development of City and 3D base Covil da Elza / 2D art internal Shopping 2D / art puppet Red studio
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project05 projectbox">
            <a href="https://www.sniperghostwarriorcontracts.com/">
                <img src="https://static.wixstatic.com/media/5ee227_466425e493b549be8407763ccf2741c6~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Sem%20T%C3%ADtulo-.jpg" alt="sniper">
            </a>
            <div class="projecttext">
                <h3>Sniper Ghost Warrior Contracts</h3>
                <h4>
                    Outsourcing - Lead artist and 3D Artist at kokku games
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project06 projectbox">
            <a href="https://www.facebook.com/OverwatchBrasil/">
                <img src="https://static.wixstatic.com/media/5ee227_b5035602f7b743f7be0ee4f197320d4e~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_b5035602f7b743f7be0ee4f197320d4e~mv2.jpg" alt="overwatch">
            </a>
            <div class="projecttext">
                <h3>Overwatch - outsourcing - BlackZebra studio</h3>
                <h4>
                    Very happy to have contributed to the game. Overwatch " Blizzard " for BlackZbra studio
                </h4>
            </div>
        </div >
    </div>
</div>
<div class="line02 lines">
    <div class="areacenter">
        <div class="project07 projectbox">
            <a href="https://www.youtube.com/watch?v=f-7bAL8XShI">
                <img src="https://static.wixstatic.com/media/5ee227_b0cd5b988a8644d1a52a9676063f7e2a.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_b0cd5b988a8644d1a52a9676063f7e2a.jpg" alt="paz">
            </a>
            <div class="projecttext">
                <h3>Project ApocalipZ</h3>
                <h4>
                    Environment, Concepts for characters...
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project08 projectbox">
            <a href="https://rpmodels.pt/">
                <img src="https://static.wixstatic.com/media/5ee227_ece15bf0233b46d8bd6bd3be649fa48b~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/images.jpg" alt="rpmodels">
            </a>
            <div class="projecttext">
                <h3>3D model for RPmodels</h3>
                <h4>
                    I modeled for 3D printing
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project09 projectbox">
            <a href="https://store.playstation.com/pt-br/product/UP1470-CUSA12235_00-TRUCKDRIVERUS000/">
                <img src="https://static.wixstatic.com/media/5ee227_54aba384988548a7943ca5a591386b7b~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/asdasdasdasdas.jpg" alt="truckdriver">
            </a>
            <div class="projecttext">
                <h3>Truck Driver</h3>
                <h4>
                    Outsourcing - Lead artist, 2D  and 3D Artist at kokku games
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project10 projectbox">
            <a href="https://www.facebook.com/cavaleironegroeditora/">
                <img src="https://static.wixstatic.com/media/5ee227_232e769189274fae8da15506690c2097~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/artcapaEdjunior.jpg" alt="livros">
            </a>
            <div class="projecttext">
                <h3>some covers that I had the pleasure of making</h3>
                <h4>
                    work done for the Inkstand studios and for publisher cavaleiro negro
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project11 projectbox">
            <a href="https://www.youtube.com/watch?v=RaRBYZw6wBg">
                <img src="https://static.wixstatic.com/media/5ee227_e0328fcbecfd489abfe5006878e77e25.jpg/v1/fill/w_158,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_e0328fcbecfd489abfe5006878e77e25.jpg" alt="footballnation">
            </a>
            <div class="projecttext">
                <h3>Football Nation - Playlore Gameworks</h3>
                <h4>
                    Concept art, Environment.
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project12 projectbox">
            <a href="https://www.youtube.com/watch?v=Yc3q5Yrs7hI">
                <img src="https://static.wixstatic.com/media/5ee227_a0a80cc787374428bc2a6f09de821fa2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_a0a80cc787374428bc2a6f09de821fa2.jpg" alt="filter">
            </a>
            <div class="projecttext">
                <h3>Filter - Red balloons games</h3>
                <h4>
                    Concept art, Environment, modeling, texturing, animation etc... for an independent project
                </h4>
            </div>
        </div >
    </div>
</div>
<div class="line03 lines">
    <div class="areacenter">
        <div class="project13 projectbox">
            <a href="https://www.youtube.com/watch?v=9Qo2VzSYpcg">
                <img src="https://static.wixstatic.com/media/5ee227_9898e6bd4dd14d93a569ca5d04eafdf5.jpg/v1/fill/w_146,h_154,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_9898e6bd4dd14d93a569ca5d04eafdf5.jpg" alt="soccertown">
            </a>
            <div class="projecttext">
                <h3>Soccertown - Playlore Gameworks</h3>
                <h4>
                    Concept art, Environment, modeling, texturing Animation etc...
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project14 projectbox">
            <a href="https://www.youtube.com/watch?v=OdO5WoCblzA">
                <img src="https://static.wixstatic.com/media/5ee227_0da1603688f9499fa9af3c65c787fecd.jpg/v1/fill/w_150,h_150,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_0da1603688f9499fa9af3c65c787fecd.jpg" alt="downfall">
            </a>
            <div class="projecttext">
                <h3>Downfall -Playlore Gameworks</h3>
                <h4>
                    Concept art, Environment, modeling, texturing
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project15 projectbox">
            <a href="">
                <img src="https://static.wixstatic.com/media/5ee227_12a62ac82dd94bd89f29f959f3190a69~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_12a62ac82dd94bd89f29f959f3190a69~mv2.jpg" alt="starwars">
            </a>
            <div class="projecttext">
                <h3>Star Wars Galaxies - Sony / Lucasarts / Playlore Gameworks</h3>
                <h4>
                    Concept art Weapons, modeling, texturing and accessories.
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project16 projectbox">
            <a href="">
                <img src="https://static.wixstatic.com/media/5ee227_b8d4b4153f254dd399241243949231b8.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_b8d4b4153f254dd399241243949231b8.jpg" alt="elderscorls">
            </a>
            <div class="projecttext">
                <h3>The Elderscrolls - ZeniMax Online Studios / Playlore Gameworks</h3>
                <h4>
                    Concept art, Environment, modeling, texturing
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project17 projectbox">
            <a href="">
                <img src="https://static.wixstatic.com/media/5ee227_34c91068052b4880acd11f62bb244b0a.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_34c91068052b4880acd11f62bb244b0a.jpg" alt="playlore">
            </a>
            <div class="projecttext">
                <h3>Playlore Gameworks</h3>
                <h4>
                    2009 until January 2014. where I had the pleasure of contributing with outsourcing and internal projects. Where I spent a good time learning with great professionals.
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project18 projectbox">
            <a href="https://dcuniverseonline.fandom.com/wiki/Costume_Style_Sets?file=OMACAdamPitts.png">
                <img src="https://static.wixstatic.com/media/5ee227_7cd62abfedd344e8b9ebeab9191cf11c.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5ee227_7cd62abfedd344e8b9ebeab9191cf11c.jpg" alt="dcuniverse">
            </a>
            <div class="projecttext">
                <h3>DC Universe Online - Sony Online Entertainment / Playlore Gameworks</h3>
                <h4>
                    Concept art, Characters, Weapons, modeling, texturing and accessories.
                </h4>
            </div>
        </div >
    </div>
</div>
<div class="line04 lines">
    <div class="areacenter">
        <div class="project19 projectbox">
            <a href="https://www.youtube.com/watch?v=mvQmmTMXoFw">
                <img src="https://static.wixstatic.com/media/5ee227_bb73f0c69af54334ae6eaf2586061e37~mv2.png/v1/fill/w_163,h_158,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Roblox.png" alt="roblox">
            </a>
            <div class="projecttext">
                <h3>Roblox</h3>
                <h4>
                    I had the pleasure of creating some character concept and props. outsource: kokku
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project20 projectbox">
            <a href="https://dioramadigital.com/web/">
                <img src="https://static.wixstatic.com/media/5ee227_63412a3351ec405b8931f7adb1c6fa90.png/v1/fill/w_163,h_158,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/5ee227_63412a3351ec405b8931f7adb1c6fa90.png" alt="blackzebra">
            </a>
            <div class="projecttext">
                <h3>Internal project and outsourcing</h3>
                <h4>
                    Where I had the pleasure of working with this great studio and this great team of professionals.
                </h4>
            </div>
        </div >
    </div>
    <div class="areacenter">
        <div class="project21 projectbox">
            <a href="https://kokku.com.br/">
                <img src="https://static.wixstatic.com/media/5ee227_66703503b5ca488281d52241989ccec8~mv2.jpg/v1/fill/w_163,h_158,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/kokku.jpg" alt="kokku">
            </a>
            <div class="projecttext">
                <h3>Lead Artist 2019 - Senior Artist 2018</h3>
                <h4>
                    Project and Outsourcing 2D/3D and animation. Working with this great studio and a great team of professionals.
                </h4>
            </div>
        </div >
    </div>
</div>